.destaque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px;
}

img {
    width: 640px;
    height: 360px;
    background-color: #6C787C;
    border-radius: 8px;
}

.destaque-desc {
    padding: 0 0 0 25%;
}

.btn {
    border: none;
    margin: 8px 0 0 0;
    color: #f7f7f7;
    background: linear-gradient(88.04deg, #71DDFF 0.79%, #3AA4C6 9.81%, #126782 36.87%);
}

.btn:hover {
    transform: scale(1.01);
    transition: 0.4s;
}

.btn:click {
    color: #f7f7f7;
}