.card {
    width: 360px;
    background-color: #F7F7F7;
    border-radius: 8px;
    margin: 8px 0;
    box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.01);
    transition: 0.4s;
}

span,
h4 {
    color: #F7F7F7;
}

.card-img {
    width: 300px;
    height: 200px;
}

.card-caption {
    display: flex;
    flex-direction: column;
    background-color: #6C787C;
    border-radius: 0 0 8px 8px;
    padding: 8px;
}