<div class="infos">
  <div class="infos-tickets">
    <div class="table-container">
      <table class="data-table">
        <thead>
          <th><i class="fa-solid fa-ticket"></i> reserva</th>
          <th><i class="fa-solid fa-user"></i> evento</th>
          <th><i class="fa-solid fa-user-tie"></i> organizadora</th>
          <th><i class="fa-solid fa-clock"></i> data reserva</th>
          <th><i class="fa-solid fa-cog"></i> opções</th>
        </thead>
        <tbody>
          @for (reserva of reservas; track $index) {
          <tr>
            <td>{{ reserva.id }}</td>
            <td>{{ reserva.ingresso.evento.nome }}</td>
            <td>{{ reserva.ingresso.organizador.nome }}</td>
            <td>{{ reserva.dataReserva | date : "dd/MM/yyyy" }}</td>
            <td>
              <button
                class="btn btn-outline-danger"
                (click)="cancelarReserva(reserva)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          } @if (!(reservas.length > 0)) {
          <tr>
            <td class="text-center text-danger" colspan="5">
              Nenhuma reserva encontrada
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
