<footer>
    <div class="infos">
        <div>
            <h3 class="gradient">TICKETSSON</h3>
            <p>©TICKETSSON, 2025</p>
        </div>
        <div class="infos-icons">
            <a [href]="linkGithub" target="_blank"> <button class="btn"><i
                        class="icon fa-brands fa-github"></i></button></a>
            <a [href]="linkFigma" target="_blank"><button class="btn"><i
                        class="icon fa-brands fa-figma"></i></button></a>
        </div>
    </div>
</footer>