<header>
  <div>
    <h3 class="gradient">TICKETSSON</h3>
  </div>
  <div class="links">
    @if (guard.autenticado && guard.admin) {
    <a routerLink="admin/organizadoras"
      ><i class="fa-solid fa-users"></i><span> organizadoras</span></a
    >
    <a routerLink="admin/ingressos"
      ><i class="fa-solid fa-ticket"></i><span> ingressos</span></a
    >
    <a routerLink="admin/eventos"
      ><i class="fa-solid fa-calendar-days"></i><span> eventos</span></a
    >
    } @if (guard.autenticado && !guard.admin) {
    <a routerLink="user/catalogo"
      ><i class="fa-solid fa-store"></i><span> catalogo</span></a
    >
    <a routerLink="user/perfil"
      ><i class="fa-solid fa-user"></i><span> perfil</span></a
    >

    } @if(guard.autenticado){
    <a (click)="trocarCargo()"
      ><i class="fa-solid fa-rotate"></i
      ><span> {{ guard.admin ? "visão admin" : "visão usuário" }}</span></a
    >
    }
    <a (click)="sair()"
      ><i class="fa-solid fa-door-closed"></i><span> sair</span></a
    >
  </div>
</header>
