<header>
    <div>
        <a routerLink="/">
            <h3 class="gradient">TICKETSSON</h3>
        </a>
    </div>
    <div class="links">
        <a routerLink="/organizadoras"><i class="fa-solid fa-users"></i><span> organizadoras</span></a>
        <a routerLink="/ingressos"><i class="fa-solid fa-ticket"></i><span> ingressos</span></a>
        <a routerLink="/eventos"><i class="fa-solid fa-calendar-days"></i><span> eventos</span></a>
        <a><i class="fa-solid fa-door-closed"></i><span> sair</span></a>
    </div>
</header>