<form [formGroup]="form">
  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          @for (item of tableHeader; track $index) {
          <th>
            <i [class]="'fa-solid fa-' + item.icon"></i> {{ item.header }}
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (ingresso of lista; track $index) {
        <tr>
          <td>{{ ingresso.id }}</td>
          <td>{{ ingresso.descricao }}</td>
          <td>{{ ingresso.evento.nome }}</td>
          <td>{{ ingresso.organizador.nome }}</td>
          <td>{{ ingresso.qtdInicial }}</td>
          <td>{{ ingresso.qtdAtual }}</td>
          <td>
            <button (click)="habilitarEdicaoHandler(ingresso)" class="btn">
              <span
                ><i
                  [class]="
                    habilitarEdicao
                      ? 'fa-solid fa-times text-primary'
                      : 'fa-solid fa-edit text-primary'
                  "
                ></i
              ></span>
            </button>
            <button (click)="deletarIngresso(ingresso)" class="btn">
              <span><i class="fa-solid fa-trash text-danger"></i></span>
            </button>
          </td>
        </tr>
        } @if (!(lista.length > 0)) {
        <tr>
          <td class="text-danger" colspan="6">nenhum ingresso cadastrado</td>
        </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td><input formControlName="descricao" type="text" required /></td>
          <td>
            <select formControlName="organizador">
              @for (item of lista; track $index) {
              <option [value]="item.organizador.id" required>
                {{ item.organizador.nome }}
              </option>
              }
            </select>
          </td>
          <td>
            <select formControlName="evento">
              @for (item of lista; track $index) {
              <option [value]="item.evento.id" required>
                {{ item.evento.nome }}
              </option>
              }
            </select>
          </td>
          <td><input formControlName="qtdInicial" type="number" required /></td>
          <td><input formControlName="qtdAtual" type="number" required /></td>
          <td>
            <button
              (click)="habilitarEdicao ? editarIngresso() : cadastarIngresso()"
              class="btn"
            >
              <span class="text-success"
                ><i
                  [class]="habilitarEdicao ? 'fa-solid fa-edit' : 'fa fa-plus'"
                ></i>
                {{
                  habilitarEdicao ? "Alterar Ingresso" : "Cadastrar Ingresso"
                }}</span
              >
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</form>
